<% provide(:title, "Contact Me") %>

<div class="heading">
  <div class="line"></div>
  <h2 class="center">Musings</h2>
  <div class="line"></div>
</div>

<div class="form-wrapper">
  <% if @contact.errors.any? %>
    <h2><%= pluralize(@contact.errors.count, "error") %></h2>
    <% @contact.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  <% end %>
  <%= form_for(@contact) do |f| %>
    <%= f.label :name, "Name", class: "form-label" %>
    <%= f.text_field :name, class: "form-field" %><br/>
    <%= f.label :email, "Email", class: "form-label" %>
    <%= f.text_field :email, class: "form-field" %><br/>
    <%= f.label :content, "Content", class: "form-label" %>
    <%= f.text_area :content, class: "form-field" %>
    <%= f.submit "Submit", class: "submit-button" %>
  <% end %>
</div>
