<header id="main-navigation">
  <div id="desktop-nav" class="clearfix <%= frontpage_nav(root_path) %>">
    <%= link_to "WYS Legal", root_path, 'data-no-turbolink' => true, class: "logo" %>
    <nav>
      <%= link_to "Home", root_path, 'data-no-turbolink' => true, class: "#{active_class(root_path)}" %>
      <%= link_to "Blog", posts_path, class: "#{active_class(posts_path)}"%>
      <%= link_to "Contact", new_contact_path, class: "#{active_class(new_contact_path)}" %>
      <% if user_signed_in? %>
        <%= link_to "New Post", new_post_path, class: "#{active_class(new_post_path)}" %>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
      <% end %>
    </nav>
  </div>
  <div id="mobile-nav">
    <div class="menu-btn">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="mobile-menu">
      <hr>
      <ul>
        <li><%= link_to "Home", root_path, 'data-no-turbolink' => true, class: "#{active_class(root_path)}" %></li>
        <li><%= link_to "Blog", posts_path, class: "#{active_class(posts_path)}"%></li>
        <li><%= link_to "Contact", new_contact_path, class: "#{active_class(new_contact_path)}" %></li>
        <% if user_signed_in? %>
          <li><%= link_to "New Post", new_post_path, class: "#{active_class(new_post_path)}" %></li>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        <% end %>
      </ul>
    </div>
  </div>
</header>
