<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WYS LEGAL | <%= yield(:title) %></title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700|Gentium+Book+Basic:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="body-wrapper">
    <% unless current_page?(root_path) %>
      <%= render '/layouts/nav' %>
    <% end %>
    
    <%= render '/layouts/flash' %>
    
    <%= yield %>
    
    <%= link_to "<i class='fa fa-arrow-up'></i>".html_safe, "#", class: "to-top" %>
    <div class="push"></div>
  </div>
  <%= render '/layouts/footer' %>
  
</body>
</html>
