<!DOCTYPE html>
<html>
<head>
  <title>WYS Legal | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <%= render '/layouts/nav' %>
  
  <%= render '/layouts/flash' %>
  
  <%= yield %>
  
  <%= link_to "<i class='fa fa-arrow-up'></i>".html_safe, "#", class: "to-top" %>
  
  <%= render '/layouts/footer' %>
  
</body>
</html>
